<!doctype html>
<html lang="en">

<head>
    <title>User information</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <section class="sec_center">
            <div class="user_info">
                <div class="w-100">
                    <img src="img/avatar.png" width="100px"/> 
                    <a class="btn btn-primary ml-2">Đổi ảnh đại diện</a>
                </div>
                <div class="d-flex"><div>Tên: </div><div id="name"></div></div>
                <div class="d-flex"><div>Phone: </div><div id="phone"></div></div>
                <div class="d-flex"><div>User: </div><div id="user"></div></div>
                <div class="d-flex"><div>Chức vụ: </div><div id="role"></div></div>
                <div class="d-flex"></div><div style="width: 100%;display: flex; justify-content: center">
                    <a href="#" id="bt_logout" class="btn btn-primary ml-2">Đăng xuất</a>
                    <!-- <a href="#" class="btn btn-primary ml-2">Đổi mật khẩu</a> -->
                </div>
            </div>
    </section>
    <script src="js/authen.js"></script>
    <script src="js/user_info.js"></script>
</body>

</html>